<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Android01" tools:targetApi="31">

        <!-- 合并后的XxxActivity2声明 -->
        <activity android:name=".XxxActivity2" android:exported="true" android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="loginSuccess"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".SuccessActivity" android:exported="true">
            <intent-filter>
                <action android:name="loginSuccess" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="www.test.com" android:path="/test" android:port="8083" android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.android01.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.android01.HomeActivity" android:exported="true">
        </activity>

        <!-- AI日记App新增Activity -->
        <activity android:name="com.example.android01.DiaryEditorActivity" android:exported="false">
        </activity>

        <activity android:name="com.example.android01.DiaryListActivity" android:exported="false">
        </activity>

        <activity android:name="com.example.android01.AIChatActivity" android:exported="false">
        </activity>

        <activity android:name="com.example.android01.SettingsActivity" android:exported="false">
        </activity>
    </application>

</manifest>